body {
    overflow: hidden;
    background: var(--beigeyellow);
}

.all {
    background: var(--darknavy);
}

#menu-home, #menu-about, #menu-projects {
    color: var(--beigeyellow);
}
#menu-home:hover, #menu-about:hover, #menu-projects:hover {
    color: var(--lightviolet);
    cursor: pointer;
}

#pfplines2 {
    position: absolute;
    transform: rotate(-90deg);
    width: 100vh;
    height: 500px;
    right: -170px;
    top: 120px;
    pointer-events: none;
    animation: pfplines2 4s infinite;
}
@keyframes pfplines2 {
    0% {width: 100vh; height: 500px; transform: rotate(-90deg);}
    30% {width: 105vh; height: 550px; transform: rotate(-92deg)}
    60% {width: 106vh;}
    100% {width: 100vh; height: 500px; transform: rotate(-90deg) }
}

#about-content {
    width: 95%;
}

#about-title {
    font-family: "Climate Crisis";
    font-size: var(--largeheader);
    text-transform: uppercase;
    color: var(--lighterviolet);
}

#about-text {
    margin-top: -70px;
    font-size: var(--text);
    font-family: "Alata";
    color: var(--lighttext);
    width: 950px;
}
#viewprojectsdiv {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
#viewprojects {
    color: var(--lightviolet);
    font-size: var(--smallheader);
    font-family: "Climate Crisis";
    transition: 0.2s;
}
#viewprojects-arrow {
    color: var(--lightviolet);
    font-size: var(--smallheader);
    font-family: "Climate Crisis";
    margin-left: -20px;
    opacity: 0;
    transition: 0.2s;
}
#viewprojects:hover { 
    color: var(--beigeyellow);
    cursor: pointer;
}
#viewprojects:hover + #viewprojects-arrow { 
    color: var(--beigeyellow);
    margin-left: 15px;
    opacity: 100;
}

@media only screen and (max-width: 1024px) {
    #overlay-menu, #menu-links, #menu-burger {
        position: fixed;
    }
    #menu-burger-1, #menu-burger-2, #menu-burger-3  {
        background: var(--beigeyellow);
    }
    #menu-links {
        background: var(--darknavy);
        border-left-color: var(--beigeyellow);
    }
    #about-content {
        margin-top: 200px;
        position: relative;
        z-index: 0;
    }
    #about-title {
        text-align:center;
    }
    #about-text {
        width: 100%;
        text-align:center;
    }
    #viewprojectsdiv {
        width: 100%;
        justify-content: center;
    }

    #pfplines2 {
        position: absolute;
        transform: rotate(0deg);
        width: 120vw;
        height: 350px;
        top: 80vh;
        right: -150px;
        pointer-events: none;
        animation: pfplines2 4s infinite;
    }
    @keyframes pfplines2 {
        0% {width: 120vw; height: 350px; transform: rotate(0deg);}
        30% {width: 125vw; height: 400px; transform: rotate(2deg)}
        60% {width: 126vw;}
        100% {width: 120vw; height: 350px; transform: rotate(0deg) }
    }

}



