body {
    background: var(--darkblue);
    overflow-x: hidden;
}

.all {
    background: var(--newwhite);
    z-index: 1000;
}

.all1 {
    background: var(--newwhite);
    padding-bottom: 0px;
    width: 98%;
    margin-top: 100vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-home, #menu-about, #menu-projects {
    color: var(--darknavy);
}
#menu-home:hover, #menu-about:hover, #menu-projects:hover {
    color: var(--lightviolet);
    cursor: pointer;
}


#top-content {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projects-title {
    font-family: "Climate Crisis";
    font-size: var(--largeheader);
    text-transform: uppercase;
    color: var(--darkblue);
    margin-bottom: 25px;
}

#top-logo {
    width: 125px;
    margin-top: 80px;
}

#top-title {
    margin-top: 0px;
    font-size: var(--largeheader);
    text-transform: uppercase;
    font-family: "Climate Crisis";
    color: var(--darkblue);
    text-align: center;
}
#top-desc {
    font-size: var(--text);
    font-family: "Alata";
    color: var(--darktext);
    margin-top: -75px;
}

.titles {
    font-family: "Climate Crisis";
    font-size: var(--bigheader);
    text-transform: uppercase;
    color: var(--darknavy);
    text-align: left;
    width: 90%;
    margin-top: 100px;
}
.text {
    width: 90%;
    margin-top: 0;
    font-family: "Alata";
    color: var(--darktext);
}

#img-holder {
    width: 90%;
}
#comp-img {
    margin-top: 25px;
    width: 100%;
    border-radius: 15px;
    border: 1.5px solid var(--darknavy);
    transition: 0.2s;
}
#comp-img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#care {
    background: var(--darknavy);
    width: 95%;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 100px;
    position: relative;
}

#coraltext {
    color: var(--coral);
}
#care-title {
    font-size: var(--bigheader);
    font-family: "Climate Crisis";
    color: var(--beigeyellow);
    text-transform: uppercase;
    margin-left: 50px;
}
#care-text {
    margin-left: 50px;
    margin-top: -25px;
    font-size: var(--text);
    width: 75%;
    line-height: var(--textheight);
    font-family: "Alata";
    color: var(--lighttext);
}
#pfplines2 {
    position: absolute;
    transform: rotate(-90deg);
    width: 700px;
    right: -275px;
    top: 0px;
    animation: pfplines2 4s infinite;
}
@keyframes pfplines2 {
    0% {width: 700px; transform: rotate(-90deg);}
    30% {width: 710px; transform: rotate(-92deg)}
    60% {width: 717px;}
    100% {width: 700px; transform: rotate(-90deg) }
}

#subtitle {
    margin-top: -40px;
}

#user {
    margin-top: 25px;
    width: 100%;
    border-radius: 15px;
    border: 1.5px solid var(--darknavy);
    transition: 0.2s;
}
#user:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#infoarchitecture-img {
    width: 100%;
    border-radius: 15px;
    margin-top: 25px;
    border: 1.5px solid var(--darknavy);
    transition: 0.2s;
}
#infoarchitecture-img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#wireframes {
    width: 85%;
    padding: 50px;
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 15px;
    background: var(--darknavy);
}
#wireframe-img, #wireframe-img1 {
    width: 300px;
    transition: 0.2s;
}
#wireframe-img1 {
    margin-left: 25px;
}
#wireframe-img:hover, #wireframe-img1:hover {
    cursor: pointer;
    transform: scale(1.05);
}
#mockup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mockup-desc {
    text-align: center;
    margin-top: 25px;
}

#mockup-section {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 90%;
    margin-top: 25px;
}
#mockup-header {
    font-family: "Climate Crisis";
    font-size: var(--smallheader);
    color: var(--darknavy);
    width: 60%;
    margin-top: 0;
}
#mockup-img {
    width: 80%;
    transition: 0.2s;
}
#mockup-img:hover {
    cursor: pointer;
    transform: scale(1.05);
}









#nextproject {
    font-family: "Climate Crisis";
    font-size: var(--smallheader);
    color: var(--darknavy);
    width: 90%;
    margin-top: 150px;
}

#projectdiv {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 300px;
    margin: 0;
    width: 90%;
    margin-top: -20px;
    z-index: 1;
}


#finaltransition {
    color: var(--darkblue);
    transition: 0.2s;
    height: 75px;
    position: static;
    margin: 0;
    font-size: var(--biggerheader);
    width: auto;
}

#project1-arrow {
    font-family: "Climate Crisis";
    color: var(--darknavy);
    font-size: var(--biggerheader);
    margin: 0;
    margin-left: 0px;
    opacity: 0%;
    width: 0px;
    height: 75px;
    padding-bottom: 10px;
    transition: 0.2s; 
}
#finaltransition:hover {
    cursor: pointer;
    color: var(--lightviolet);
}
#finaltransition:hover + #project1-arrow {
    cursor: pointer;
    margin-left: 15px;
    opacity: 100%;
    width: 50px;
    color: var(--lightviolet);
}

#lastlines {
    position: relative;
    width: 120%;
    overflow: hidden;
    height: 500px;
    margin-top: -350px;
    margin-bottom: -10px;
    z-index: 0;
}

#pfplines3, #pfplines3-2 {
    position: absolute;
    transform: rotate(-25deg);
    width: 70vw;
    height: 500px;
    right: -80px;
    bottom: -160px;
    pointer-events: none;
    animation: pfplines3 4s infinite;
}
#pfplines3-2 {
    left: -80px;
    bottom: -200px;
    pointer-events: none;
    transform:rotateY(180deg) rotate(-10deg);
    animation: pfplines3-2 7s infinite;
}

@keyframes pfplines3 {
    0% {width: 70vw; height: 500px; transform: rotate(-25deg);}
    30% {width: 76vw; height: 550px; transform: rotate(-27deg)}
    60% {width: 73vw;}
    100% {width: 70vw; height: 500px; transform: rotate(-25deg) }
}

@keyframes pfplines3-2 {
    0% {width: 70vw; height: 500px; transform: rotateY(180deg) rotate(-10deg);}
    30% {width: 76vw; height: 550px; transform: rotateY(180deg) rotate(-12deg)}
    60% {width: 73vw;}
    100% {width: 70vw; height: 500px; transform: rotateY(180deg) rotate(-10deg) }
}

@media only screen and (max-width: 1024px) {
    #overlay-menu, #menu-links, #menu-burger {
        position: fixed;
    }
    #menu-burger {
        background: var(--newwhite);
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    #menu-burger-1, #menu-burger-2, #menu-burger-3  {
        background: var(--darknavy);
    }
    #menu-links {
        background: var(--newwhite);
        border-left-color: var(--darkblue);
    }
    #top-logo {
        width: 250px;
        margin-bottom: 50px;
    }
    #top-content {
        overflow: hidden;
        padding-top: 400px;
    }
    .all1 {
        position: relative;
        z-index: 0;
        width: 95%;
        overflow: hidden;
    }
    #top-title {
        text-align: center;
        width: 100%;
        font-size: var(--largeheader);
    }
    #pfplines2 {
        display: none;
    }
    .titles, #care-title, .text {
        text-align: center;
    }
    #care-title {
        padding: 0;
        margin-left: 0;
    }
    #care-text {
        width: 85%;
        text-align: center;
    }
    #mockup-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #mockup {
        width: 90%;
        height: auto;
        margin-top: 50px;
    }
    #mockup-desc {
        width: 90%;
        font-size: var(--text);
    }
    #mockup-header {
        width: 90%;
        text-align: center;
    }
    #mockup-img {
        width: 90%;
    }


}


