body {
    overflow: hidden;
}

.all {
    background: linear-gradient(to bottom right, var(--newwhite), var(--beigeyellow));
}

#content {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#name {
    font-family: "Climate Crisis";
    font-size: var(--hugeheader);
    color: var(--darknavy);
    text-transform: uppercase;
    margin-top: 40px;
    line-height: 130px;
}
#field {
    font-family: "Alata";
    font-size: var(--smallheader);
    margin-top: -140px;
    color: var(--darknavy);
}
#project-header {
    text-align: right;
    font-family: "Climate Crisis";
    color: var(--darknavy);
    font-size: var(--smallheader);
    margin: 0;
}
#projectdiv, #project2div {
    display: flex;
    justify-content: end;
    height: 60px;
}
#project1, #project2 {
    text-align: right;
    font-family: "Climate Crisis";
    color: var(--darkblue);
    font-size: var(--bigheader);
    height: 60px;
    margin: 0;
    z-index: 3;
    transition: 0.2s;
}
#project2div {
    width: 100%;
    margin-top: -30px;
}
#project1-arrow, #project2-arrow {
    font-family: "Climate Crisis";
    color: var(--darkblue);
    font-size: var(--bigheader);
    margin: 0;
    margin-left: 0px;
    opacity: 0%;
    width: 0px;
    transition: 0.2s;
    
}
#project1:hover, #project2:hover {
    cursor: pointer;
    color: var(--lightviolet);
}
#project1:hover + #project1-arrow, #project2:hover + #project2-arrow {
    cursor: pointer;
    margin-left: 15px;
    opacity: 100%;
    width: 50px;
    color: var(--lightviolet);
}

#content-last-line {
    display: flex;
    align-items: center;
    height: 80px;
}
#socials {
    width: 150px;
    height: 100px;
    z-index: 2;
}
#email, #linkedin {
    width: 50px; height: auto;
    filter: opacity(85%);
    transition: 0.2s;
}
#linkedin {
    margin-left: 5px;
}
#email:hover, #linkedin:hover {
    cursor: pointer;
    filter: opacity(60%);
}

#pfp {
    position: absolute;
    width: 550px;
    bottom: -30px;
    left: 200px;
    filter: saturate(0%) brightness(60%);
    z-index: 100;
    pointer-events: none;
}
#pfplines {
    position: absolute;
    width: 1000px;
    height: 800px;
    transform:rotateY(0deg);
    bottom: -180px;
    left: 300px;
    z-index: -99;
    pointer-events: none;
    animation: pfplines 4s infinite;
}
@keyframes pfplines {
    0% {width: 1000px; height: 800px; transform: rotateY(0deg);}
    30% {width: 1100px;}
    60% {height: 850px;transform:rotateY(2deg);}
    100% {width: 1000px; height: 800px; transform: rotateY(0deg);}
}

#email-copy {
    font-family: "Alata";
    font-size: var(--text);
    margin-top: -50px;
    opacity: 0;
    transition: 0.2s;
}
