body {
    overflow: hidden;
    background: var(--darkblue1);
}

.all {
    background: var(--newwhite);
}

#menu-home, #menu-about, #menu-projects {
    color: var(--darknavy);
}
#menu-home:hover, #menu-about:hover, #menu-projects:hover {
    color: var(--lightviolet);
    cursor: pointer;
}

#pfplines3, #pfplines3-2 {
    position: absolute;
    transform: rotate(-25deg);
    width: 70vw;
    height: 500px;
    right: -200px;
    bottom: -230px;
    pointer-events: none;
    animation: pfplines3 4s infinite;
}
#pfplines3-2 {
    left: -200px;
    bottom: -270px;
    pointer-events: none;
    transform:rotateY(180deg) rotate(-10deg);
    animation: pfplines3-2 7s infinite;
}

@keyframes pfplines3 {
    0% {width: 70vw; height: 500px; transform: rotate(-25deg);}
    30% {width: 76vw; height: 550px; transform: rotate(-27deg)}
    60% {width: 73vw;}
    100% {width: 70vw; height: 500px; transform: rotate(-25deg) }
}

@keyframes pfplines3-2 {
    0% {width: 70vw; height: 500px; transform: rotateY(180deg) rotate(-10deg);}
    30% {width: 76vw; height: 550px; transform: rotateY(180deg) rotate(-12deg)}
    60% {width: 73vw;}
    100% {width: 70vw; height: 500px; transform: rotateY(180deg) rotate(-10deg) }
}

#projects-content {
    width: 95%;
}

#projects-title {
    font-family: "Climate Crisis";
    font-size: var(--largeheader);
    text-transform: uppercase;
    color: var(--darkblue1);
    margin-bottom: 25px;
}

#projectdiv, #project2div {
    display: flex;
    justify-content: start;
    height: 100px;
    margin: 0;
}

#project-number {
    font-family: "Climate Crisis";
    font-size: var(--bigheader);
    height: 100px;
    width: 50px;
    margin-top: 0px;
    margin-right: 50px;
    color: var(--darkblue1);
}

#project1, #project2 {
    font-family: "Climate Crisis";
    color: var(--darknavy);
    font-size: var(--bigheader);
    margin: 0;
    z-index: 3;
    transition: 0.2s;
}
#project2div {
    width: 100%;
    margin-top: -30px;
}
#project1-arrow, #project2-arrow {
    font-family: "Climate Crisis";
    color: var(--darknavy);
    font-size: var(--bigheader);
    margin: 0;
    margin-left: 0px;
    opacity: 0%;
    width: 0px;
    transition: 0.2s;
    
}
#project1:hover, #project2:hover {
    cursor: pointer;
    color: var(--lightviolet);
}
#project1:hover + #project1-arrow, #project2:hover + #project2-arrow {
    cursor: pointer;
    margin-left: 15px;
    opacity: 100%;
    width: 50px;
    color: var(--lightviolet);
}
@media only screen and (max-width: 1024px) {
    #overlay-menu, #menu-links, #menu-burger {
        position: fixed;
    }
    #menu-burger-1, #menu-burger-2, #menu-burger-3  {
        background: var(--darknavy);
    }
    #menu-links {
        background: var(--newwhite);
        border-left-color: var(--darkblue1);
    }
    #projects-content {
        margin-top: 200px;
        position: relative;
        z-index: 0;
        width: 95%;
    }
    #projects-title {
        text-align: left;
        width: 100%;
    }
    #projectdiv, #project2div {
        width: 100%;
        margin-top: 20px;
    }
    #projectdiv {
        margin-top: 50px;
    }
    #project1, #project2 {
        width: auto;
        font-size: 55px;
        margin-top: 5px;
    }

    #pfplines3, #pfplines3-2 {
        width: 80vw;
        height: 500px;
        animation: pfplines3 4s infinite;
    }
    #pfplines3-2 {
        animation: pfplines3-2 7s infinite;
    }
    
    @keyframes pfplines3 {
        0% {width: 80vw; height: 500px; transform: rotate(-25deg);}
        30% {width: 86vw; height: 550px; transform: rotate(-27deg)}
        60% {width: 83vw;}
        100% {width: 80vw; height: 500px; transform: rotate(-25deg) }
    }
    
    @keyframes pfplines3-2 {
        0% {width: 80vw; height: 500px; transform: rotateY(180deg) rotate(-10deg);}
        30% {width: 86vw; height: 550px; transform: rotateY(180deg) rotate(-12deg)}
        60% {width: 83vw;}
        100% {width: 80vw; height: 500px; transform: rotateY(180deg) rotate(-10deg) }
    }

}
