@import url('https://fonts.googleapis.com/css2?family=Alata&family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Rozha+One&display=swap');


:root {
    --bg: #213340;
    --p: #8489E6;
    --o: #DF9E61;
    --text: #DBDBDB;
    --dtext: #536878;
    --check: #82ffcf;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
html, body {
    background-color: var(--bg);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: white;
}


