@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@400;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Poppins&display=swap');
body {
    background: #151b25;
    font-family: "PT Sans Narrow";
    color: white;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar { 
    display: none;
}
* {
    margin: 0;
    padding: 0;
}
#bg {
    position: fixed; 
    background-color: rgb(18, 25, 35);
    height: 110vh;
    margin-top: -100px;
    width: 100%;
    opacity: 1;
    pointer-events: none;
    transition: 1s;
    z-index: 90000;
  }

  
#richardlin {
    margin-top: 50px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 500;
}

#all {
    width: 1000px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 2s;
}

#bottom {
    height: 700px;
    transition: 1s;
}

.primary {
    height: 600px;
    width: 1000px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 35px;
}

.primary, .name {
    transition: 0.4s;
}


#healthymind {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(31, 98, 170, 0.6)), url(https://myhealthymind.github.io/images/unsplash-hike.jpg);
    background-size: cover;
    background-position: center;
}
#fluorescence {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(31, 98, 170, 0.6)), url(https://fluorescencetsa.github.io/images/balloons.jpg);
    background-size: cover;
    background-position: center;
}
#epanos {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(31, 98, 170, 0.6)), url(https://epanostsa.github.io/images/homebackground.png);
    background-size: cover;
    background-position: center;

}
#websymphonies {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(31, 98, 170, 0.6)), url(https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&);
    background-size: cover;
    background-position: center;
}

